@import './base/normalise';
html {
  box-sizing: border-box;
}

/* For all elemets */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --hero-text-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --site-nav-text-color: #212121;
  --site-navcontacts-text-color: #757575;
  --accent-color: #2196f3;
  --footer__link-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --button-primary-text-color: #ffffff;
  --button-porfolio-usual: #f5f4fa;
  --bg-image: rgba(47, 48, 58, 0.4);
  --bgc: #f5f4fa;
  --fill-default-icon: #afb1b8;
  --fill-hiver-icon: #ffffff;
}

body {
  background-color: var(----primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

/*  правильно і семантично ховати заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none; /* убирает оформление списка*/
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

@import './utils/vars';
@import './components/header';
@import './components/buttons';
@import './components/backdrop';
@import './components/clients';
@import './components/portfolio';
@import './components/footer';
@import './components/team';
@import './components/doing';
@import './components/features';
@import './components/hero';
